@charset "UTF-8";

@media (max-width:400px){

    main{
        padding: 80px 20px;
    }

    header ul{
        flex-flow: row wrap;
    }

    footer{
        padding: 10px 20px;
    }
}

.foto{
    background-image: url(img/doaçao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.646);
}

.foto div{
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.doacoes{
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.doado{
    margin-bottom: 20px;
}

div ul{
    display: flex;
    flex-flow: row wrap;
    list-style-position: inside;
}
div ul li{
    width: 200px;
    gap: 10px;
}

h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.localdoacoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.local{
    width: 300px;
    height: 350px;
    border: 3px solid green;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.local div span{
    display: block;
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
}

.local div p{
    text-indent: 1em;
}

div iframe{
    width: 300px;
    height: 300px;
    padding-top: 10px;
}

.sabermais{
    margin-bottom: 50px;
    background-color: rgba(0, 128, 0, 0.205);
    width: 280px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.linkmaps{
    color: rgb(1, 162, 1);
}

.pai{
    width: 100%;
    height: 500px;
    position: relative;
}

.tela{
    width: 250px;
    height: 500px;
    background-color: #007D32;
    border-radius: 20px;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imagem{
    background-image: url(img/crianças.jpg);
    height: 220px;
    width: 220px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

form p{
    margin: 6px;
}

form p input{
    background-color: #DCFFD6;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
}
form p input[type=submit]{
    background-color: #4FAD64;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

form p input[type=submit]:hover{
    background-color: black;
    transition: 0.5s;
}

@media screen and (min-width:768px) and (max-width:992px){
    .pai{
        height: 350px;
    }
    .tela{
        width: 85vw;
        height: 300px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .imagem{
        height: 100%;
        width: 50%;
        margin-top: 0px;
        margin-left: 0px;
    }

    form p{
        margin: 10px;
    }

    .doar{
       margin-right: 10px;
    }

    form p input[type=submit]{
        height: 40px;
    }

}

@media screen and (min-width:992px){
    .pai{
        height: 350px;
    }
    .tela{
        width: 80vw;
        height: 350px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .imagem{
        height: 100%;
        width: 50%;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px;
    }

    form p{
        margin: 15px;
        font-size: 18px;
    }

    form p input{
        font-size: 17px;
    }

    .doar{
        width: 50%;
    }

    form p input[type=submit]{
        margin-top: 0px;
        height: 43px;
        font-size: 20px;
    }

}